{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static './css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="shortcut icon" type="image/svg" href="{% static './img/Component 1 (2).svg' %}">
<body>
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'homePage' %}">
                   <h1 class="title has-text-danger-dark">KINO NEWS</h1>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
              </div>

              <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                </div>

                <div class="navbar-end">
                  <div class="navbar-item">
                    <div class="buttons">
                      <a href="{% url 'allPost' %}" class="button is-danger">
                        <strong>All posts</strong>
                      </a>
                      <a href="{% url 'addPost' %}" class="button is-danger is-light">
                        Add post
                      </a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="{%static './js/script.js' %}"></script>
</body>
</html>